.post-card {
  margin-top: 30px;
}

.post-image {
  height: 250px;
}

.post-image:hover {
  cursor: pointer;
}

.post-title {
  text-align: center;
  color: white;
  background-color: #6573c3;
}

.post-description {
  font-weight: bold;
  margin-bottom: 20px;
}

.post-content {
  font-style: italic;
  height: 30px;
}

.post-category {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.post-tag {
  margin-bottom: 30px;
  padding: 5px 15px;
}

.post-author {
  text-align: right;
}

.tags {
  font-style: italic;
  font-weight: bold;
  border-radius: 3px;
  background-color: #ededed;
}
